.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.loader-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dominant);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid var(--gray-dark);
  border-top-color: var(--primary);
  border-radius: 50%;
}

.loader-small {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 3px;
}

.loader-medium {
  width: 3rem;
  height: 3rem;
}

.loader-large {
  width: 4rem;
  height: 4rem;
  border-width: 5px;
}